{{define "home"}}
<div class="wrapper">
{{template "nav" .}}
    <div id="content">
        {{template "toggle" .}}
        <h2>home</h2>
        <img src="/stylesheets/images/greeceHome.jpg" class="img-fluid" alt="Responsive Banner">
    </div>
</div>
{{end}}
